body {
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
}

header {
	background-color: black;
	color: white;
}

h1,h2 {
	text-transform: uppercase;
	border-bottom: 4px solid black;
	display: inline-block;
	font-weight: 800;
	border-color: red;
} 

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
	padding: .8em 0;
  	color: white;
  	border-bottom-color: red;
}

img {
	display: block;
	margin: 0 auto;
  	width: 480px;
} 


nav {
	font-size: 1.8em;
 	float: right;
} 

nav a {	
	color: white;
	margin: 1.8em;
	display: inline-block;
	text-transform: uppercase;
}

section{
  background: #222;
  color: #fff;
  overflow: auto;
}

div {
  font-size: 1.2em;
  width: 46%;
  padding: 2%;
  display: inline-block;
}

#hero {
  display: block;
  width: 100%;
  margin: 0;
  background: white;
}

#about {
  float: left;
}


footer {
	text-align: center;
	padding: 1em 0;
  	clear: both;
}